.footer-container{
    width: 100%;
    box-shadow: 0 0 2px #959595;
    
}
.footerBox{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 20px 100px;
}
.list-footer a{
    padding: 10px;
}
li{
    list-style: none;
}
.footer{
    width: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
    
}
.footer img{
    width: 30%;
   display: flex;
   justify-content: center;
   align-items: center;
}
.boxFooter{
    display: flex;
    justify-content: start;
    align-items: center;
}
.list-footer{
    display: flex;
    gap: 20px;
    align-items: center;
}
.list-footer a{
    font-size: 16px;
    font-weight: bold;
    color: #777777;
    letter-spacing: 1px;
}
.boxnoCopy{
    padding: 10px 0;
    text-align: center;
    color: #fff;
    background-color: var(--background);
}
 @media screen and (max-width : 800px) {
    .footerBox{
    display: grid;
    grid-template-columns: 1fr;
    padding: 20px 0;
}
.boxFooter{
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}
.boxFooter{
    order: 2;
    margin: 20px 0;
}
 }